# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.gitsecret/keys/random_seed
!*.secret
resources/cloudflared/09f9684c-7fa2-4bec-a5a7-7f5f1b7c65c7.json
