@use "sass:color"
@import "../settings/_variables.sass"
@keyframes show-notification
	0%
		right: -100%!important
	100%
		right: 0!important
.alert
	position: fixed
	top: 0
	right: 0
	width: 90vw
	max-width: 350px
	height: max-content
	background-color: transparent
	z-index: 900
	padding: 0.5rem
	box-sizing: border-box
	&__container
		position: relative
		width: 100%
		box-sizing: border-box
		overflow: hidden
		border-radius: 0.3rem
		display: flex
		align-items: center
		justify-content: space-between
		margin: 0.2rem 0 0.2rem auto
		padding: 0.7rem 0.5rem
		animation: show-notification 2s infinite
		@each $name, $color in $main-color-list
			&--#{$name}
				background-color: var(--color-#{$name})
				//@if color.lightness($color) < 40
				@if color.channel($color, "lightness", $space: hsl) < 40
					color: var(--color-light)
				@else
					color: var(--color-dark)
	&__icon
		display: block
		width: 2.5rem
		height: 2.5rem
		object-fit: contain
		display: block
		color: inherit
		margin: auto 0.4rem auto auto
		margin-left: 0.4rem
	&__description
		color: inherit
		margin: auto
		line-height: 1rem
		width: calc(100% - 2.5rem - 2rem)
		@include font-size(--fs-small)
	&__close
		color: inherit
		&-icon
			color: inherit
			margin: 0
			width: 2rem
			height: 2rem
