.pagination
	display: flex
	align-items: center
	justify-content: center
	margin-top: 1.5rem
	&__element
		display: block
		padding: 0.3rem
		box-sizing: border-box
		text-align: center
		color: var(--color3)
		text-decoration: none
		border: 1px solid var(--color-grayscale-100)
		min-width: 2rem
		border-radius: 3px
		margin: auto 0.2rem
		font:
			weight: 500
			size: var(--fs-smaller)
			family: var(--ff1)
		&:hover,
		&--active
			background-color: var(--color-primary)
			color: var(--color-light)
