.section
  background-color: var(--color2)
  padding: 2rem
  box-sizing: border-box
  border-radius: 0.5rem
  box-shadow: 0 0 1rem var(--c-dash-shadow)
  border: 1px solid var(--c-dash-shadow)
  &--full
    width: 100%
  &--wide
    width: 50%
    min-width: 350px
  &--default
    width: 33%
    min-width: 350px
  &__title
    margin: auto
    color: var(--color4)
    font:
      weight: 700
      size: var(--fs-large)
      family: var(--ff1)
  &__help-text
    color: var(--color1)
    margin: auto
    display: block
    font:
      weight: 300
      size: var(--fs-small)
      family: var(--ff2)
  &__options
    display: flex
  .btn
    margin-right: 0.8rem
