.sidebar
  width: 220px
  height: max-content
  padding: 1rem
  box-sizing: border-box
  min-height: 100vh
  background-color: var(--c-dash-bg1)
  border-right: 1px solid var(--c-dash-shadow)
  &__logo
    padding: 0.2rem
    box-sizing: border-box
    display: flex
    align-items: center
    &-image
      display: block
      width: 3rem
      height: 3rem
      object-fit: contain
  &__company-name
    display: block
    padding: 0 0 0 0.5rem
    margin: 0
    color: var(--color4)
    font:
      family: var(--ff1)
      weight: 900
      size: var(--fs-regular)
  display: block
.nav
  padding: 1rem 0
  &__element
    display: flex
    align-items: center
    cursor: pointer
    padding: 0.5rem 1rem
    box-sizing: border-box
    background-color: transparent
    border-radius: 0.3rem
    text-decoration: none
    margin: 0.2rem 0
    &:hover
      background-color: var(--color4)
      .nav__element
        &-text,
        &-icon
          color: var(--color2)
    &-text
      display: block
      color: var(--color4)
      padding: 0 0 0 0.5rem
      font:
        family: var(--ff2)
        weight: 700
        size: var(--fs-regular)
    &-icon
      color: var(--color4)
