@use  "sass:color"
@use "../mixins/_mixins" as mix
.sidebar
	width: 220px
	height: auto
	padding: 1rem
	box-sizing: border-box
	min-height: 100vh
	background-color: var(--sidebar-bg)
	display: block
	&__logo
		padding: 0.2rem
		box-sizing: border-box
		display: flex
		align-items: center
		&-image
			display: block
			width: 3rem
			height: 3rem
			object-fit: contain
	&__company-name
		display: block
		padding: 0 0 0 0.5rem
		margin: 0
		color: var(--text-color-secondary-dark)
		@include mix.font-size(--fs-regular)
.nav
	padding: 1rem 0
	&__element
		display: flex
		align-items: center
		cursor: pointer
		padding: 0.5rem 1rem
		box-sizing: border-box
		background-color: transparent
		border-radius: 0.3rem
		text-decoration: none
		color: var(--color-dark)
		margin: 0.2rem 0
		&.router-link-active
			background-color: var(--color-primary-500)
			.nav__element-text,
			svg
				color: var(--text-color-primary-light)
		&:not(.router-link-active)
			&:hover
				background-color: var(--color-primary-100)
				.nav__element-text,
				svg
					color: var(--text-color-secondary-dark)
		&-text
			display: block
			color: var(--text-color-primary-dark)
			padding: 0 0 0 0.5rem
			@include mix.font-size(--fs-regular)
			font:
				family: var(--ff1)
				weight: 400
		svg
			display: block
			width: 1.2rem
			height: 1.2rem
			object-fit: contain
	&__sub-container
		.nav__element
			margin-left: 1rem
			&-text
				font-weight: 300
