$fs-default: 16px
$fs-smaller: 0.75rem
$fs-small: 0.85rem
$fs-regular: 1rem
$fs-mid: 1.26rem
$fs-large: 1.6rem
$fs-xl: 2.26rem
$fs-xxl: 2.67rem

$ff1-name: 'Fira Sansa'
$ff2-name: 'Noto Sans'

$ff1: #{$ff1-name}, Helvetica
$ff2: #{$ff2-name}, Helvetica

$color1: #000000
$color2: #FFFFFF
$color3: #777777
$color4: #38284f
$color5: #077b8e
$color6: #FF6C00

$c-inactive-input-border: #{$color4}
$c-active-input-border: #{$color5}
$c-inactive-button-bg: #{$color4}
$c-active-button-bg: #{$color5}
$c-form-alert: #{$color6}

$bp1: 120rem
$bp2: 100rem
$bp3: 90rem
$bp4: 80rem
$bp5: 64rem
$bp6: 48rem
$bp7: 40rem
$bp8: 23rem
