@use "sass:map"
@use "sass:color"
@use "sass:math"
@import "../mixins/_mixins.sass"

$fs-default: 16px
$ff1: 'Titillum Web', sans-serif
$ff2: 'Arimo', sans-serif

$breakpoints: ("bp1": 120rem, "bp2": 100rem, "bp3": 90rem, "bp4": 80rem, "bp5": 64rem, "bp6": 48rem, "bp7": 40rem, "bp8": 23rem)
$fs-map: ("smaller": 0.75rem, "small": 0.85rem, "regular": 1rem, "mid": 1.27rem, "large": 1.6rem, "xl": 2.26rem, "xxl": 2.67rem, "xxxl": 3rem)
$main-color-list: ("primary": #492a9d, "secondary": #342C49, "success": #2B9E76, "warning": #e9c46a, "danger": #9E412B, "info": #9E952B)

$main-colors-hue: ()
$primary-colors: ()
@each $key, $color in $main-color-list
	$co: color.hue($color)
	$main-colors-hue: map-merge($main-colors-hue, (#{$key}: round($co)))
	$primary-colors: map-merge($primary-colors, ($key: #{$color}))

$grey-hue: map-get($main-colors-hue, primary)
$color-dark: hsl($grey-hue 0% 0%)
$color-light: hsl($grey-hue 0% 100%)

$color-primary: map-get($main-color-list, primary)
$overall-opaque-bg: color.adjust($color-primary, $alpha: -0.85)
